<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link rel="stylesheet" href="/public/css/blogdetail.css">
</head>

<body>

    <iframe class="header" src="/include/header2.html"></iframe>

    <div class="content">
        <div class="neo">
            <ul>
                <li><a href="#DiChuyen">Di chuyển</a></li>
                <li><a href="#LuuTru">Lưu trú</a></li>
                <li><a href="#ThamQuan">Tham quan</a></li>
                <li><a href="#AmThuc">Ẩm thực</a></li>
            </ul>
        </div>
        <p>
            Bình Thuận nằm cuối vùng duyên hải Nam Trung Bộ, thủ phủ là thành phố Phan Thiết. Bình Thuận nằm cách TP HCM 160 km, phía bắc giáp tỉnh Ninh Thuận và Lâm Đồng, phía đông và nam giáp biển, phía tây giáp Đồng Nai và Bà Rịa - Vũng Tàu. Tỉnh có đường biển
            dài 190 km từ mũi Đá Chẹt (giáp Cà Ná thuộc Ninh Thuận) đến bãi bồi Bình Châu (huyện Xuyên Mộc, tỉnh Bà Rịa - Vũng Tàu).
        </p>
        <p>
            Địa hình Bình Thuận chủ yếu là đồi núi thấp, đồng bằng ven biển. Nằm trong vùng khí hậu nhiệt đới gió mùa cận xích đạo, nơi đây nhiều nắng, gió và khô hạn, có hai mùa mưa và khô rõ rệt. Mùa mưa thường từ tháng 5 đến tháng 10, mùa khô từ tháng 11 đến tháng
            4 năm sau. Tuy nhiên, nhiều năm mùa mưa chỉ tập trung từ tháng 8 đến tháng 10.
        </p>

        <figure class="anh_blog">
            <img src="/public/image/Mui-Ne.jpg" />
            <figcaption>Mũi Né nhìn từ trên cao. Ảnh: Ngô Trần Hải An</figcaption>
        </figure>

        <a name="DiChuyen"></a>
        <H1>Di Chuyển</H1>
        <p>
            Bình Thuận không có sân bay, cách di chuyển thuận tiện nhất là bay tới TP HCM rồi đi đường bộ theo cao tốc Dầu Giây - Phan Thiết dài 99 km, tốc độ tối đa 120 km/h, thời gian khoảng 2 tiếng rưỡi. Du khách cũng có thể hạ cánh ở sân bay Cam Ranh (Khánh Hòa),
            sau đó di chuyển bằng cao tốc Vĩnh Hảo - Phan Thiết. Tuy nhiên, quãng đường dài và lâu hơn từ TP HCM. Xe cá nhân cũng chạy theo hai tuyến đường bộ này.
        </p>
        <p>
            Xe khách khởi hành từ TP HCM và các tỉnh phía Nam có các hãng Kumho, Phương Trang, Minh Nghĩa, Liên Hưng, Mạnh Hùng, Long Vân hay các nhà xe limousine như Trọng Thủy, Hoàng Vũ, Nam Hải. Giá vé từ 180.000 đồng đến 250.000 đồng một chiều.
        </p>
        <p>
            Ga Mường Mán, huyện Hàm Thuận Nam, là điểm dừng của các tuyến đường sắt Bắc - Nam. Các đôi tàu SE 1-2, SE 3-4, SE 5-6, SE 7-8 hay SPT, SNT... đều dừng ở ga này. Giá vé tàu dao động từ 145.000 đồng đến 1.500.000 đồng một chiều, tùy loại tàu, loại ghế/giường
            và điểm xuất phát.
        </p>

        <a name="LuuTru"></a>
        <H1>Lưu trú</H1>
        <p>
            Khách sạn tại Bình Thuận tập trung chủ yếu tại các trung tâm du lịch như Phan Thiết, Mũi Né, đảo Phú Quý, với đa dạng loại hình lưu trú, từ các homestay, khách sạn bình dân đến các resort cao cấp. Tại Mũi Né, các khu nghỉ dưỡng ven biển tập trung nhiều
            ở đường Nguyễn Đình Chiểu như The Anam, Sailing Club Resort, Anantara Mũi Né Resort & Spa, Pandanus Resort, The Cliff Resort and Residences, Centara Mirage Resort. Giá phòng đôi dao động từ khoảng gần 1 triệu đồng tới 10 triệu đồng một đêm.
            Các nhà nghỉ, khách sạn nhỏ hơn nằm trong ngách, tập trung chủ yếu trên trục đường Huỳnh Thúc Kháng kéo dài về phía Hòn Rơm, giá dưới 1 triệu đồng.
        </p>
        <figure class="anh_blog">
            <img src="/public/image/ChoNoi.jpg" />
            <figcaption>Caption 2. Ảnh: Photo</figcaption>
        </figure>
        <p>
            Từ sau Covid-19 năm 2022, đảo Phú Quý được đầu tư xây dựng nhiều điểm lưu trú mới, đa dạng hình thức như nhà nghỉ, khách sạn, homestay và các resort quy mô nhỏ. Nhiều khu nghỉ có thiết kế đẹp, đồng thời tạo nên những góc chụp ảnh ấn tượng cho giới trẻ
            như Queen Sea Resort, Roman Resort Phu Quy, Coco Villa, Villa Biển Xanh... Giá phòng dao động từ khoảng 300.000 đồng đến hơn 1 triệu đồng một đêm.
        </p>
        <figure class="anh_blog">
            <img src="/public/image/Chiu-chiu.jpg" />
            <figcaption>Caption 3. Ảnh: Photo</figcaption>
        </figure>


        <a name="ThamQuan"></a>
        <H1>Tham quan</H1>
        <h3>Phan Thiết</h3>
        <p>
            Thành phố của tỉnh Bình Thuận,chia thành 4 khu vực chính gồm trung tâm, Mũi Né, Mũi Kê Gà và Hòn Rơm. Từ một trong bốn điểm này, du khách tiếp tục khám phá các địa danh nổi tiếng khác tại Phan Thiết.
        </p>

        <p>
            Phan Thiết là điểm dừng chân tắm biển kết hợp nghỉ ngơi tại Mũi Né. Vì thế, du khách chỉ cần ở thành phố tối đa 2 ngày, ghé những điểm nổi tiếng như Công viên biển Đồi Dương, tháp nước Phan Thiết, khu di tích trường Dục Thanh nơi Chủ tịch Hồ Chí Minh
            từng dạy học, dinh Vạn Thủy Tú nơi có bộ xương cá voi lớn nhất Đông Nam Á, lầu Ông Hoàng, tháp Po Sah Inư, bãi đá Ông Địa...
        </p>

        <h3>Mũi Né</h3>
        <p>
            Mũi Né là dải đất vươn ra biển ở thành phố Phan Thiết, là trung tâm du lịch nổi tiếng của tỉnh Bình Thuận và cả nước. Tên gọi Mũi Né xuất phát từ ngư dân đánh cá, trong đó "mũi" là mũi đất đua ra biển, "né" là nơi tránh bão. Năm 2018, Mũi Né được công
            nhận là khu du lịch quốc gia.
        </p>
        <p>
            Nơi đây nổi tiếng với bãi biển xanh trải dài và những đồi cát đẹp. Bàu Trắng là điểm đến không thể bỏ qua khi tới Mũi Né, với trải nghiệm ngắm bình minh, trượt cát, đi xe địa hình và tham quan chụp ảnh. Mũi Né có nhiều khu nghỉ dưỡng đẹp nằm dọc đường
            ven biển Nguyễn Đình Chiểu và các tuyến đường lân cận. Các dịch vụ dành cho khách du lịch ở đây khá đầy đủ. Mũi Né cũng là điểm đến của nhiều khách nước ngoài.
        </p>

        <a name="AmThuc"></a>
        <h1>Ẩm Thực</h1>

        <h3>Lẩu thả</h3>
        <p>
            Nguyên liệu chính của món ăn là cá tươi, thường là cá mai, cá suốt hoặc cá đục. Sau khi lóc xương, cá được trụng qua nước sôi và rửa sạch bằng nước chanh để khử tanh rồi tẩm ướp gia vị, xếp ra đĩa. Ngoài cá tươi, những nguyên liệu khác gồm trứng chiên,
            thịt luộc, rau sống, xoài và dưa leo. Tất cả được cắt sợi và đặt trên những cánh hoa chuối, trải đều xung quanh đĩa cá, tạo hình bông hoa. Bên cạnh mâm nguyên liệu còn có bún và nước lèo nóng.
        </p>
        <p>
            Lẩu thả có hai cách để thưởng thức. Đầu tiên, thực khách ăn cá mà không cần nhúng qua nước lèo, chỉ chan nước mắm đậu phộng, cho thêm bánh tráng nướng và trộn đều. Cách thứ hai dành cho những người muốn ăn chín. Trụng cá, múc nước lèo sôi vào tô, thêm
            các nguyên liệu khác rồi thưởng thức.
        </p>
        <figure class="anh_blog">
            <img src="/public/image/lautha.jpg" />
            <figcaption>Lẩu thả đặc sản Bình Thuận. Ảnh: Làng Chài Xưa</figcaption>
        </figure>


        <h3>Cua mặt trăng</h3>
        <p>
            Đây là món ăn nhất định phải thử trên đảo Phú Quý và vùng ven biển thuộc huyện Tuy Phong. Cua mặt trăng ở trên lưng có nhiều hình tròn màu đỏ đậm, pha màu hồng tươi. Trước đây, cua mặt trăng có khá nhiều nhưng cua tự nhiên ngày càng hiếm nên muốn mua
            phải đặt trước. Thịt cua ngọt, dai và thơm, vỏ cua giòn, mềm, dùng răng cắn được. Cua thơm ngon nhất vào kỳ trăng mọc. Điều này hoàn toàn trái ngược với các loại cua khác, thịt thường xốp trong thời kỳ này.
        </p>
        <p>
            Ngoài cua mặt trăng, cua huỳnh đế cũng là một đặc sản Tuy Phong, Phú Qúy.
        </p>
        <figure class="anh_blog">
            <img src="/public/image/mattrang.jpg" />
            <figcaption>Cua mặt trăng trên đảo Phú Quý. Ảnh: Khang Ka</figcaption>
        </figure>

        <h2>Bình luận</h2>
        <form class="comment" action="#">
            <input class="comment_input" type="text" placeholder="Chia sẻ ý kiến của bạn" required>
            <input class="comment_send_button" type="submit">
        </form>

        <div>

            <p>content</p>
        </div>


        <h3>Bài Viết Liên Quan</h3>
        <div>
            <img src="#" alt="Blog Img">
            <h4>Title</h4>
        </div>
    </div>




    <iframe class="footer" src="/include/footer.html"></iframe>
</body>

</html>