* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

h1 {
    margin-bottom: 10px;
}

.forgotPassword {
    margin: auto;
    font-size: large;
}

#back-btn {
    font-size: 20px;
    margin: 20px 0;
    padding: 15px;
    border-radius: 25px;
    width: 100%;
    border: 1px solid blue;
    background-color: #fff;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-account {
    margin: 0 15%;
}

#email {
    font-size: large;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 25px;
}

#submit {
    font-size: larger;
    background-color: rgb(69, 69, 204);
    color: #fff;
    width: 100%;
    border-radius: 25px;
    padding: 15px;
    margin: 10px 0;
    border: none;
}

#left-img {
    width: 50%;
}

#back-btn .material-icons {
    vertical-align:sub;
}