<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../public/css/createAccount.css">
    <link rel="icon" type="image/png" href="../config/favicon.php">

</head>
<body>

    <img src="../../public/image/test1.jpg" alt="Không Hiển Thị" id="left-img">

    <div class="create-container">
        <h1>Hi, Get Started Now 👋</h1>
        <h4>Enter details to create your Travel Pulse account</h4>

        <button class="google-btn">
            <img src="google-icon.png" alt=""> Continue with Google
        </button>

        <div class="divider">or</div>

        <form class="login-form" method="post" action="../FunctionOfActor/both/createAccount.php">
            <input type="text" id="name" name="username" placeholder="Full Name" required>
            <input type="email" id="email" name="email" placeholder="Email Address" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required>
            <input type="submit" id="submit" value="Sign Up">
            
            <div class="login-account">
                Already have an account? <a href="./login.html">Sign in to account</a>
            </div>
        </form>
    </div>
</body>
</html>