<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/forgotPassword.css">
</head>
<body>

    <script src="../../../Js/forgotPassword.js"></script>

    <img src="../../public/image/test1.jpg" alt="Không Hiển Thị" id="left-img">

    <div class="forgotPassword">
        <h1>Forgot Password? 👋</h1>
        <h5>No Worries, We will send you reset instructions</h5>

        <form class="login-form">
            <input type="email" id="email" placeholder="Email Address" required>
           
            <input type="submit" id="submit" value="Log In">
        </form>
        <button id = "back-btn">
            <a><span class="material-icons">arrow_back</span> Back To Login</a>
        </button>
    </div>
</body>
</html>