<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="/image/logo.png" alt="Logo">
        </div>
        <nav class="nav">
            <a href="#">Destination</a>
            <a href="#">Stories</a>
            <a href="#">Reviews</a>
        </nav>
        <nav class="sub_nav">
            <a href="#">Sign Up</a>
            <a href="#" class="btn-login">Login</a>
        </nav>
    </header>
    <section class="hero">
        <h1>Discover New Places and Create Unforgettable Memories</h1>
        <section class="destinations">
            <a href="#" class="article">
                <img src="/image/NinhBinh.jpeg" alt="provinces">
                <h3>Why you should reconsider The Inca Trail, Peru Trip</h3>
            </a>
            <a href="#" class="article">
                <img src="/image/Hue.jpeg" alt="provinces">
                <h3>The Hidden Powers of The Northern Lights, Iceland</h3>
            </a>
            <a href="#" class="article">
                <img src="/image/QB.jpg" alt="provinces">
                <h3>10 Facts you didn't know about The Blue Hole, Belize</h3>
            </a>
        </section>
    </section>

    <section class="provinces section-common">
        <h2>Provinces</h2>
        <p>Making the most of your travel experience in 2023</p>
        <a href="#" class="btn-page">View all provinces</a>
        <div class="grid-common">
            <div class="card-common">
                <img src="/image/NinhBinh.jpeg" alt="province">
                <h4>Ninh Bình</h4>
            </div>
            <div class="card-common">
                <img src="/image/Hue.jpeg" alt="province">
                <h4>Huế</h4>
            </div>
            <div class="card-common">
                <img src="/image/QB.jpg" alt="province">
                <h4>Quảng Bình</h4>
            </div>
        </div>
    </section>

    <section class="location section-common">
        <h2>Destinations</h2>
        <p>Here are some of the most visited places in 2023</p>
        <div class="grid-common">
            <div class="card-common">
                <img src="/image/NinhBinh.jpeg" alt="province">
                <p>Ninh Bình</p>
                <h4>Tràng An</h4>
            </div>
            <div class="card-common">
                <img src="/image/Hue.jpeg" alt="province">
                <p>Huế</p>
                <h4>Lăng Khải Định</h4>
            </div>
            <div class="card-common">
                <img src="/image/QB.jpg" alt="province">
                <p>Quảng Bình</p>
                <h4>Hang Sơn Đoòng</h4>
            </div>
        </div>
    </section>

    <section class="blog section-common">
        <h2>Top Travel Stories</h2>
        <p>Explore our latest stories from our active users</p>
        <a href="#" class="btn-page">View all blogs</a>
        <div class="grid-common">
            <div class="card-common">
                <img src="/image/ChoNoi.jpg" alt="Mumbai, India">
                <div class="card-content">
                    <p>Mumbai, India • Feb 27, 2023 • 8 min read</p>
                    <h4>A Wonderful Journey to India</h4>
                    <span>I had always been interested in spirituality...</span>
                </div>
            </div>
            <div class="card-common">
                <img src="/image/Hue.jpeg" alt="Barcelona, Spain">
                <div class="card-content">
                    <p>Barcelona, Spain • Feb 27, 2023 • 5 min read</p>
                    <h4>A Solo Trip Across Europe</h4>
                    <span>I had just graduated from college...</span>
                </div>
            </div>
            <div class="card-common">
                <img src="/image/QB.jpg" alt="Barcelona, Spain">
                <div class="card-content">
                    <p>Barcelona, Spain • Feb 27, 2023 • 5 min read</p>
                    <h4>A Solo Trip Across Europe</h4>
                    <span>I had just graduated from college...</span>
                </div>
            </div>
            <div class="card-common">
                <img src="/image/Hue.jpeg" alt="Barcelona, Spain">
                <div class="card-content">
                    <p>Barcelona, Spain • Feb 27, 2023 • 5 min read</p>
                    <h4>A Solo Trip Across Europe</h4>
                    <span>I had just graduated from college...</span>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer_logo">
            <img class="footer_logo_img" src="/image/logo.png" alt="Logo">
        </div>
        <h1 class="footer_name">Cẩm nang du lịch Việt Nam</h1>
        <div class="nav_footer_menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Destination</a></li>
                <li><a href="#">Stories</a></li>
                <li><a href="#">Reviews</a></li>
            </ul>
        </div>
        <div class="bottom_text">
            <h4 class="copyright_text">Copyright © 2024</h4>
        </div>
    </footer>
</body>

</html>