<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Pulse</title>
    <link rel="stylesheet" href="../../public/css/Stories.css" >
</head>

<body>
    <div id="header-placeholder"></div>
    <section class="hero">
        <h1>Discover New Places and Create Unforgettable Memories</h1>
        <section class="destinations">
            <a href="#" class="article">
                <img src="../../public/image/NinhBinh.jpeg" alt="provinces">
                <h3>Why you should reconsider The Inca Trail, Peru Trip</h3>
            </a>
            <a href="#" class="article">
                <img src="../../public/image/Hue.jpeg" alt="provinces">
                <h3>The Hidden Powers of The Northern Lights, Iceland</h3>
            </a>
            <a href="#" class="article">
                <img src="../../public/image/QB.jpg" alt="provinces">
                <h3>10 Facts you didn't know about The Blue Hole, Belize</h3>
            </a>
        </section>
    </section>

    <!-- Main Content Section -->
    <section class="main-content">
        <h2 style="font-size: 32px;">Top Travel Stories</h2>
        <p style="font-size: 14px; margin-top: 5px;">Explore our latest stories from our active users</p>
        <button class="view-all-btn">View All Stories</button>

        <div class="stories-grid">
            <div class="story-card">
                <img src="../../public/image/Hue.jpeg" alt="Hue">
                <h3>The Best Time to visit Hue</h3>
                <p>Hue...</p>
                <a href="#">Read Full Post</a>
            </div>
            <div class="story-card">
                <img src="../../public/image/NinhBinh.jpeg" alt="Ninh Binh">
                <h3>...</h3>
                <p>Ninmh Binh...</p>
                <a href="#">Read Full Post</a>
            </div>
            <div class="story-card">
                <img src="../../public/image/QB.jpg" alt="Quang Binh">
                <h3>Phong Nha Ke Bang Cave</h3>
                <p>Oct 16, 2024 • 6 min read</p>
                <a href="#">Read Full Post</a>
            </div>
    
            <div class="story-card">
                <img src="../../public/image/ChoNoi.jpg" alt="Cho Noi">
                <h3>Chợ Nổi Cái Răng</h3>
                <p>Oct 16, 2024 • 7 min read</p>
                <a href="#">Read Full Post</a>
            </div>
            <!-- Add more story cards as needed -->
        </div>
    </section>
    
    <!-- Footer -->
    <div id="footer1"></div>
</body>
</html>
