<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Page</title>
    <link rel="stylesheet" href="../../public/css/VerificationCode.css">
    <script src="../../public/js/Verification.js"> </script>
</head>
<body>
    <div class="verification-container">
        <div class="left-section">
            <img src="../../public/image/test1.jpg" alt="không hiển thị" id="left-img">
            
        </div>
        <div class="right-section">
            <h1>Enter Verification Code</h1>
            <p>We have just sent a verification code to <strong>gmail</strong></p>
            
            <div class="code-inputs">
                <input type="text" maxlength="1" class="code-box">
                <input type="text" maxlength="1" class="code-box">
                <input type="text" maxlength="1" class="code-box">
                <input type="text" maxlength="1" class="code-box">
            </div>
            <button class="verify-button">Verify</button>
            <button class="resend-button">Resend Code</button>
        </div>
    </div>
    
</body>
</html>
