body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 249, 255);
}

/* table */
.table-wrapper {
    padding: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #e4e7ef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1110px;
    margin-left:320px;
    align-items: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 23px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

th {
    background-color: #f9f9f9;
    color: black;
}
/*  */

/* Status colors */
.status-chua-xac-nhan,
.status-da-xac-nhan,
.status-dang-giao,
.status-da-giao {
    border-radius: 8px; /* Bo góc tròn với bán kính 8px */
    padding: 5px 10px;   /* Thêm khoảng cách bên trong */
    text-align: center;  /* Canh giữa nội dung */
    border-color: white;
}

/* Pastel colors */
.status-chua-xac-nhan {
    background-color: #f3de89; /* Màu vàng pastel */
    color: #333;              /* Màu chữ đen nhạt */
}

.status-da-xac-nhan {
    background-color: #7abc96; /* Màu xanh lá cây pastel */
    color: #fff;              /* Màu chữ trắng */
}

.status-dang-giao {
    background-color: #6ab1ca; /* Màu xanh dương pastel */
    color: #fff;              /* Màu chữ trắng */
}

.status-da-giao {
    background-color: #87a9df; /* Màu xanh dương pastel nhạt */
    color: #fff;              /* Màu chữ trắng */
}

.main-content {
    flex-grow: 1;
    padding: 30px;
}

.orders h2 {
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 15px;
    border: 1px solid #f1eeee;
    border-radius: 4px;
    margin-left: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 25px;
    text-align: left;
}

table th {
    background-color:white;
}
