<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý blog</title>
    <link rel="stylesheet" href="../../../public/css/Admin/blog_management.css">
    <link rel="stylesheet" href="../../../public/css/navbar.css">
    <link rel="stylesheet" href="../../../public/css/sidebar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <script src="../../../public/js/Admin/admin.js"></script>
    <script src="../../../include/navbar.js"></script>
    <script src="../../../include/sidebar.js"></script>

    <main class="main-content">
        <section class="orders">
            <div class="search-bar" style="width: 400px; margin-left:995px; align-items: center;">
                <input type="text" style="border-radius: 20px 20px;" placeholder="Tra cứu đơn hàng...">
            </div>
    
            <div class="table-wrapper">
                <table id="requests-table">
                    <thead>
                    <tr>
                        <th class="center-heading">STT</th>
                        <th class="center-heading">Mã đơn hàng</th>
                        <th class="center-heading">Khách hàng</th>
                        <th class="center-heading">Ngày đặt hàng</th>
                        <th class="center-heading">Trạng Thái</th>
                    </tr>
                    </thead>
                    <tbody id="invoice-list">
                    </tbody>
                </table>
            </div>
        </section>
    </main>    
    </body>
    </html>
    