<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý post</title>
    <link rel="stylesheet" href="../../../public/css/Admin/post_management.css">
    <link rel="stylesheet" href="../../../public/css/navbar.css">
    <link rel="stylesheet" href="../../../public/css/sidebar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <script src="../../../public/js/Admin/post_management.js"></script>
    <script src="../../../include/navbar.js"></script>
    <script src="../../../include/sidebar.js"></script>


<div class="main-content">
    <div class="post-management">
        <button class="add-post-btn" id="openpopup1">
            Thêm bài viết <ion-icon style="margin-left: 5px;" name="add-circle-outline"></ion-icon>
        </button>

        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm bài viết" class="search-bar">
            <ion-icon name="search-outline" class="search-icon"></ion-icon>
        </div>

        <div class="table-wrapper" >
            <table style="width: 100%; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tỉnh thành</th>
                        <th>Điểm đến</th>
                        <th>Di chuyển</th>
                        <th>Ẩm thực</th>
                        <th>Lễ hội</th>
                        <th>Lựa Chọn</th>
                    </tr>
                </thead>
                <tbody id="post-table-body">
                    <!-- Dữ liệu mẫu -->
                    <tr>
                        <td>1</td>
                        <td>Hà Nội</td>
                        <td>Văn Miếu Quốc Tử Giám</td>
                        <td>Xe máy, taxi, xe buýt</td>
                        <td>Phở, bún chả, bánh cuốn</td>
                        <td>Lễ hội pháo hoa</td>
                        <td class="action-btn-frame">
                            <button class="action-btn edit">
                                <ion-icon name="create"></ion-icon>
                            </button>
                            <button class="action-btn delete">
                                <ion-icon name="trash"></ion-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Đà Nẵng</td>
                        <td>Cầu Rồng</td>
                        <td>Xe buýt, xe máy</td>
                        <td>Mì Quảng, bánh tráng cuốn</td>
                        <td>Lễ hội Cầu Rồng</td>
                        <td class="action-btn-frame">
                            <button class="action-btn edit">
                                <ion-icon name="create"></ion-icon>
                            </button>
                            <button class="action-btn delete">
                                <ion-icon name="trash"></ion-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Hồ Chí Minh</td>
                        <td>Chợ Bến Thành</td>
                        <td>Taxi, xe máy</td>
                        <td>Bánh mì, hủ tiếu, cơm tấm</td>
                        <td>Lễ hội đường hoa Nguyễn Huệ</td>
                        <td class="action-btn-frame">
                            <button class="action-btn edit">
                                <ion-icon name="create"></ion-icon>
                            </button>
                            <button class="action-btn delete">
                                <ion-icon name="trash"></ion-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            

            <div id="popup" class="popup-overlay">
                <div class="popup-content">
                    <p>Are you sure you want to delete this post?</p>
                    <button id="yes-btn" class="popup-btn">Yes</button>
                    <button id="no-btn" class="popup-btn">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup1-overlay" id="popup1Overlay">
    <div class="popup1-content">
        <span class="popup1-close" id="closepopup1">&times;</span>
        <div class="wrapper" id = "addUser">
            <form id="post-form" enctype="multipart/form-data">
                <div class="field input">
                    <div>
                        <label for="province">Tỉnh/Thành Phố</label>
                        <select id="province" name="province">
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Hà Nội">Hà Nội</option>
                        </select>
                    </div>
                    <div>
                        <label for="image">Tải ảnh:</label>
                        <input type="file" id="image" name="image">
                    </div>
                </div>

                <div class="field-row">
                    <div class="field">
                        <label for="transport">Di chuyển</label>
                        <textarea wrap="soft" id="transport" name="transport" required></textarea>
                    </div>
                    <div class="field" style="padding-top: 60px;">
                        <input type="file" id="image-transport" name="image-transport">
                    </div>
                </div>
            
                <div class="field-row">
                    <div class="field">
                        <label for="food">Ẩm thực</label>
                        <textarea wrap="soft" id="food" name="food" required></textarea>
                    </div>
                    <div class="field" style="padding-top: 60px;">
                        <input type="file" id="image-food" name="image-food">
                    </div>
                </div>
            
                <div class="field-row">
                    <div class="field">
                        <label for="festival">Lễ hội</label>
                        <textarea wrap="soft" id="festival" name="festival" required></textarea>
                    </div>
                    <div class="field" style="padding-top: 60px;">
                        <input type="file" id="image-festival" name="image-festival">
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="Lưu" class="save" id="saveButton">
                    <input type="button" value="Hủy" class="cancel" id="cancelButton">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>